---
import "../styles/components/_card.scss";
import type { Frontmatter } from "../utils/types/frontmatter";
import { site } from "../data/site";

let { title, url, description, tags, pubDate } = Astro.props as Frontmatter;
url = new URL(url, Astro.site).toString();
---

<article class="card term">
    <a class="card-title" href={url}
        ><h3>{title}</h3>
        <span aria-hidden="true" class="card-link"></span>
    </a>
    <p class="card-pubDate">
        <time datetime={pubDate}
            >{
                new Date(pubDate).toLocaleString(site.lang, {
                    dateStyle: "medium",
                })
            }</time
        >
    </p>
    <p class="card-content">
        {description}...
    </p>
    <ul class="card-tags">
        {
            tags.map((t) => (
                <li class="card-tags-link tag-link">
                    <a href={`${new URL(`/tag/${t}`, Astro.site).toString()}`}>
                        <span aria-hidden="true"># </span>
                        {t}
                    </a>
                </li>
            ))
        }
    </ul>
</article>
