---
import "../styles/components/_card.scss";
import { Picture } from "@astrojs/image/components";
import type { Frontmatter } from "../utils/types/frontmatter";

const { image, title, url, description, tags, pubDate } =
    Astro.props as Frontmatter;
---

<article class="card">
    <header class="card-header">
        <Picture
            src={image?.url || "/imgs/code.png"}
            widths={[200, 300]}
            sizes="(max-width: 40em) 80vw, 300px"
            aspectRatio={1 / 1.6}
            alt=""
            class="card-header--img"
        />
        <h3 class="card-header--title">{title}</h3>
        <p class="card-header--pubDate">
            <time datetime={pubDate}
                >{
                    new Date(pubDate).toLocaleString("fr", {
                        dateStyle: "medium",
                    })
                }</time
            >
        </p>
        <div class="card-header--bg" aria-hidden="true"></div>
    </header>
    <article class="card-content">
        <p class="card-content--description">{description}...</p>
        <a class="card-content--link btn-primary" href={url}>Lire l'article</a>
        <ul class="card-content--tags-list">
            {
                tags.map((t) => (
                    <li class="card-content--link tag-link">
                        <a href={`/tags/${t}`}>#{t}</a>
                    </li>
                ))
            }
        </ul>
    </article>
</article>
